<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Furnizori | RAL')}"></head>
<body id="SuppliersListPage">

<div th:replace="~{fragments/chrome :: header}"></div>

<h1>Furnizori</h1>

<th:block th:each="f : ${furnizori}">
    <div class="Img">
        <img th:src="@{${f.image}}" th:alt="${f.nume}" style="max-width:220px;" />
    </div>
    <div class="Content">
        <div class="Main">
            <a th:href="@{/suppliers/{id}(id=${f.id})}" th:text="${f.nume}"></a>
            <p th:text="${#strings.abbreviate(f.prezentareText, 220)}"></p>
        </div>
        <div class="Click">
            <a th:href="@{/suppliers/{id}(id=${f.id})}">cititi mai mult</a>
        </div>
    </div>
    <div class="Clear"></div>
</th:block>

<div class="Clear"></div>

<div th:replace="~{fragments/chrome :: footer}"></div>

</body>
</html>
