<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(${furnizor.nume} + ' | RAL')}"></head>
<body id="Suppliers">

<div th:replace="~{fragments/chrome :: header}"></div>

<div class="Logo">
    <img th:src="@{${furnizor.imageLarge}}" th:alt="${furnizor.nume}" />
</div>
<div class="Spacer"></div>
<div class="Content">
    <div class="Supplier">Furnizor</div>
    <div class="SupplierName"><h1 th:text="${furnizor.nume}"></h1></div>
    <div class="Logs"><img th:src="@{${furnizor.image}}" th:alt="${furnizor.nume}" /></div>
    <br/><br/>
    <div class="MainHolder">
        <div class="Main" th:utext="${furnizor.prezentare}"></div>
    </div>
    <div class="Footer"></div>
</div>

<div class="Clear"></div>
<p><a th:href="@{/suppliers}">&laquo; Inapoi la furnizori</a></p>

<div th:replace="~{fragments/chrome :: footer}"></div>

</body>
</html>
