<!DOCTYPE html>
<html lang="ro" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Comenzi | RAL Online')}"></head>
<body id="ralonline">

<div th:replace="~{fragments/chrome :: header}"></div>

<div th:replace="~{fragments/ralonline-menu :: sidebar('orders')}"></div>

<div class="Content">
    <h1>Comenzi</h1>

    <div th:if="${continut != null}" th:utext="${continut}"></div>
    <p th:if="${continut == null}">Serviciul de comenzi este indisponibil momentan. Va rugam incercati mai tarziu.</p>

    <p><a th:href="@{/ralonline}">&laquo; Inapoi</a></p>
</div>

<div class="Clear"></div>

<div th:replace="~{fragments/chrome :: footer}"></div>

</body>
</html>
